@page "/SignupParentForm"

@layout AuthLayout

@inject NavigationManager NavigationManager

@inject AuthService AuthService
@inject MauiInterop Maui

<EditForm Model="_model" OnSubmit="ParentSetupAsync">
	<div class="card-body text-center">
		<div class="vstack text-start">
			<div class="mb-3">
				<label class="form-label">Parent Name</label>
				<InputText @bind-Value="_model.ParentName" placeholder="Enter Name" class="form-control rounded-pill fs-6" />
			</div>

			<div class="mb-3">
				<label class="form-label">Profile Picture</label>
				<InputFile OnChange="OnInputFileChange" />
			</div>

			<button type="submit" class="btn btn-primary rounded-pill" style="background-color: #8BF8FF; color: grey;">Continue</button>
		</div>
	</div>
</EditForm>


@code {
	private SignupModel _model = new();

	private async Task ParentSetupAsync()
	{
		Maui.ShowLoader();
		try
		{
			var result = await AuthService.ParentSetupAsync(_model);
			if (result.IsSuccess)
			{
				NavigationManager.NavigateTo("/selectuser", replace: true);
			}
			else
			{
				await Maui.ShowErrorAlertAsync(result.Error ?? "Error in signining up");
			}
		}
		catch (Exception ex)
		{
			await Maui.ShowErrorAlertAsync(ex.Message);

		}
		finally
		{
			Maui.HideLoader();
		}
	}

	private void OnInputFileChange(InputFileChangeEventArgs e)
	{
		var files = e.GetMultipleFiles();
		var selectedFile = files.FirstOrDefault();

		if (selectedFile != null)
		{
			_model.ProfileImage = selectedFile;
		}
	}
}
