@inherits LayoutComponentBase

<div class="start-0 top-0" style="background-color: #A288E3; border-radius: 0; height: 80px; width: 100vw;"></div>
<div class="vh-100 100-vw p-3 d-flex flex-column justify-content-start align-items-center " style="background-color: beige; position: relative; overflow: auto;">
	<div class="my-3" style="position: relative; z-index: 1; margin-bottom: 0px;">

		<div class="d-flex justify-content-center align-items-center position-fixed" style="top:16%; z-index: 5;">
			<img src="/images/TransparentCuteBee.png" class="position-fixed" alt="bee" style="width: 140px; height: 140px; margin-top: 10px; overflow: auto;">
		</div>
		<div class="rounded justify-content-center align-items-center fixed-bottom" style="background-color: beige; top: 25%; bottom: 10%; left: 5%; right: 5%; ">
			@Body
		</div>
	</div>
</div>

<style type="text/css" scoped>
	.logo {
		height: 80px;
		width: 120px;
	}
</style>

<script>
</script>